<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exemplo"
    >

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >
        <activity
            android:name="telainicial.ActSplash"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="base.ActHost" />
        <activity android:name="intent.ActHome" />
        <activity android:name="activity.ActMainJava" />
        <activity android:name="activity.ActMainKotlin" />
        <activity android:name="layouts.ActLinear" />
        <activity android:name="components.ComponentsActivity" />
        <activity android:name="intent.ActVermelha" />
        <activity android:name="intent.ActVerde" />
        <activity android:name="intent.ActAzul" />
        <activity android:name="fragment.ActFragments" />
        <activity android:name="fragment.ActFragmentsKotlin" />
        <activity android:name="fragment.ActComunicaFrags" />
        <activity android:name="drawer.ActDrawer" />
        <activity android:name="navdrawer.ActNavDrawer" />
        <activity android:name="recycler.ActRecycler" />
        <activity android:name="revisao.ActCadastroKotlin" />
        <activity android:name="revisao.ActMainKotlin" />
        <activity android:name="revisao.ActCadastro" />
        <activity android:name="revisao.ActComunicaFragsRevisao" />
        <activity android:name="revisao.ActRevisaoFrags" />
        <activity android:name="revisao.ActFragmentsRevisao" />
        <activity android:name="binding.ActWhiskas" />
        <activity android:name="base.ActBind" />
        <activity android:name="binding.ActSache" />
        <activity android:name="debugging.ActDebugging" />
        <activity android:name="debugging.ActException" />
        <activity android:name="binding.ActRafinha" />
        <activity android:name="base.ActBase" />
        <activity android:name="base.ActSample" />
        <activity android:name="base.ActSampleJava" />
        <activity android:name="viewpager.ActViewPager" />
        <activity android:name="viewpager.ActPager" />
        <activity android:name="fragment.ActComunicaFragsKotlin" />
    </application>

</manifest>